{
    "NovaServers.boot_server": [
        {
            "args": {
                "flavor": {
                    "name": "m1.tiny"
                },
                "image": {
                    "name": "cirros-0.3.2-x86_64"
                },
                "nics": [ {
                    "net-id": "{{ demo_net_id.stdout }}"
                          } ]
            },
            "runner": {
                "type": "constant",
                "times": 1000,
                "concurrency": 24
            },
            "context": {
                "users": {
                    "tenants": 3,
                    "users_per_tenant": 2
                },
                "quotas": {
                  "nova": {
                    "instances": 1000000,
                    "cores": 1000000,
                    "ram": 1000000000
                  },
                  "neutron": {
                    "port": 1000000
                  }
                }
            }
        }
    ]
}
