{
    "type": "ExistingCloud",
    "auth_url": "http://controller:35357/v2.0",
    "admin": {
        "username": admin,
        "password": {{ KEYSTONE_ADMIN_PASS }},
        "tenant_name": admin
    }
}
