127.0.0.1 localhost
{{ controller.results[0].tagged_instances[0].private_ip }} controller
{{ network.results[0].tagged_instances[0].private_ip }} network
{{ compute.results[0].tagged_instances[0].private_ip }} compute
{{ benchmark.results[0].tagged_instances[0].private_ip }} benchmark
