global
log 127.0.0.1 local0
log 127.0.0.1 local1 notice
maxconn 4096
daemon
defaults
log global
mode http
option tcplog
option dontlognull
retries 3
option redispatch
maxconn 2000
contimeout 5000
clitimeout 50000
srvtimeout 50000
 
frontend pxc-front
bind *:3307
mode tcp
default_backend pxc-back
 
frontend stats-front
bind *:8080
mode http
default_backend stats-back
 
frontend pxc-onenode-front
bind *:3306
mode tcp
default_backend pxc-onenode-back
 
backend pxc-back
mode tcp
balance leastconn
option httpchk
server c1 10.10.10.101:3306 check port 9200 inter 5000 rise 3 fall 3
server c2 10.10.10.102:3306 check port 9200 inter 5000 rise 3 fall 3
server c3 10.10.10.103:3306 check port 9200 inter 5000 rise 3 fall 3
 
backend stats-back
mode http
balance roundrobin
stats uri /haproxy/stats
stats auth pxcstats:secret
 
backend pxc-onenode-back
mode tcp
balance leastconn
option httpchk
server c1 10.10.10.101:3306 check port 9200 inter 5000 rise 3 fall 3
server c2 10.10.10.102:3306 check port 9200 inter 5000 rise 3 fall 3 backup
server c3 10.10.10.103:3306 check port 9200 inter 5000 rise 3 fall 3 backup