#!/bin/bash

export OS_SERVICE_TOKEN="{{ KEYSTONE_ADMIN_TOKEN }}"
export OS_SERVICE_ENDPOINT=http://{{ ansible_hostname }}:35357/v2.0

if [[ k`keystone user-list` == 'k' ]]
then
  keystone user-create --name=admin --pass={{ KEYSTONE_ADMIN_PASS }} --email=root@localhost
  keystone role-create --name=admin
  keystone tenant-create --name=admin --description="Admin Tenant"
  keystone user-role-add --user=admin --tenant=admin --role=admin
  keystone user-role-add --user=admin --role=_member_ --tenant=admin
fi
