Listen *:15000
<VirtualHost *:15000>
LogLevel warn
ErrorLog ${APACHE_LOG_DIR}/keystone-5000-error.log
CustomLog ${APACHE_LOG_DIR}/keystone-5000-access.log combined

WSGIScriptAlias / /var/www/main
WSGIDaemonProcess keystone user=keystone group=nogroup processes=3 threads=10
WSGIProcessGroup keystone

</VirtualHost>

Listen *:45357
<VirtualHost *:45357>
LogLevel warn
ErrorLog ${APACHE_LOG_DIR}/keystone-35357-error.log
CustomLog ${APACHE_LOG_DIR}/keystone-35357-access.log combined

WSGIScriptAlias / /var/www/admin
WSGIDaemonProcess keystoneadm user=keystone group=nogroup processes=1 threads=10
WSGIProcessGroup keystone

</VirtualHost>
