- name: Provision SG
  local_action:
    module: ec2_group
    name: "loadtest"
    description: "allow ssh"
    {% raw %}vpc_id: "{{ vpc.vpc_id }}"{% endraw %}
    
    region: "{{ aws_region }}"
    rules:
      - proto: tcp
        from_port: 22
        to_port: 22
        cidr_ip: 0.0.0.0/0
      - proto: all
        cidr_ip: 10.10.10.0/24
    state: {{ state }}
