global
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
    maxconn 65000
    daemon
    stats socket /tmp/haproxy.sock

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    retries 3
    option redispatch
    timeout client 28801000
    timeout connect 28810000
    timeout server 28820000
  
{% if haproxy['ha_pxc'] %}
frontend pxc-front
    bind *:3307
    mode tcp
    default_backend pxc-back
 
frontend pxc-onenode-front
    bind *:3306
    mode tcp
    default_backend pxc-onenode-back
 
backend pxc-back
    mode tcp
    balance leastconn
    option httpchk
    default-server on-marked-down shutdown-sessions on-marked-up shutdown-backup-sessions
{% for db_ip in haproxy['pxc_ips'] %}
    server pxc{{ loop.index }} {{ db_ip }}:3306 check port 9200 inter 1000 rise 2 fall 2
{% endfor %}
 
backend pxc-onenode-back
    mode tcp
    balance leastconn
    option httpchk
    default-server on-marked-down shutdown-sessions on-marked-up shutdown-backup-sessions
{% for db_ip in haproxy['pxc_ips'] %}
    server pxc{{ loop.index }} {{ db_ip }}:3306 check port 9200 inter 1000 rise 2 fall 2{% if not loop.first %} backup{% endif %}

{% endfor %}
{% endif %}
 
{% if haproxy['ha_controller'] %}

{% for (name, port, serviceport) in [ ("keystone", "5000", "15000"), ("keystoneadm", "35357", "45357"), ("nova-api", "8774", "18774"), ("neutron", "9696", "19696"), ("glance", "9292", "19292"), ("cinder", "8776", "18776") ] %}
frontend {{ name }}-front
    bind *:{{ port }}
    mode http
    option http-server-close
    default_backend {{ name }}-back
 
backend {{ name }}-back
    mode http
    cookie SRV_ID prefix
    balance roundrobin
{% for controller_ip in haproxy['controller_ips'] %}
    server controller{{ loop.index }} {{ controller_ip }}:{{ serviceport }} check
{% endfor %}

{% endfor %}

{% endif %}
