[DEFAULT]

verbose=True
logdir=/var/log/nova
state_path=/var/lib/nova
lock_path=/var/lock/nova

rpc_backend = rabbit
rabbit_host = {{ rabbit_host }}
rabbit_password = {{ RABBIT_PASS }}

my_ip = {{ ansible_eth0.ipv4.address }}
vncserver_listen = {{ ansible_eth0.ipv4.address }}
vncserver_proxyclient_address = {{ ansible_eth0.ipv4.address }}

auth_strategy = keystone

network_api_class = nova.network.neutronv2.api.API
neutron_url = http://{{ api_proxy_host }}:{{ neutron_service_port }}
neutron_auth_strategy = keystone
neutron_admin_tenant_name = service
neutron_admin_username = neutron
neutron_admin_password = {{ NEUTRON_PASS }}
neutron_admin_auth_url = http://{{ api_proxy_host }}:{{ keystone_admin_service_port }}/v2.0
linuxnet_interface_driver = nova.network.linux_net.LinuxOVSInterfaceDriver
firewall_driver = nova.virt.firewall.NoopFirewallDriver
security_group_api = neutron

compute_driver = nova.virt.fake.FakeDriver

service_neutron_metadata_proxy = true
neutron_metadata_proxy_shared_secret = {{ METADATA_SECRET }}

ram_allocation_ratio = 100000
cpu_allocation_ratio = 100000

quota_driver = {{ nova_quotadriver }}

[database]
connection = mysql://nova:{{ NOVA_DBPASS }}@{{ database_host }}/nova

[keystone_authtoken]
auth_uri = http://{{ api_proxy_host }}:{{ keystone_user_service_port }}
auth_host = {{ api_proxy_host }}
auth_port = {{ keystone_admin_service_port }}
auth_protocol = http
admin_tenant_name = service
admin_user = nova
admin_password = {{ NOVA_PASS }}
