[pxc_bootstrap]
{{ database1.results[0].tagged_instances[0].public_ip }}

[pxc_node]
{{ database2.results[0].tagged_instances[0].public_ip }}
{{ database3.results[0].tagged_instances[0].public_ip }}

[init_controller]
{{ controller1.results[0].tagged_instances[0].public_ip }} db_init=true

[controller]
{{ controller2.results[0].tagged_instances[0].public_ip }}
{{ controller3.results[0].tagged_instances[0].public_ip }}

[network]
{{ network.results[0].tagged_instances[0].public_ip }}

[queue]
{{ queue.results[0].tagged_instances[0].public_ip }}

[compute]
{{ compute1.results[0].tagged_instances[0].public_ip }}
{{ compute2.results[0].tagged_instances[0].public_ip }}
{{ compute3.results[0].tagged_instances[0].public_ip }}
{{ compute4.results[0].tagged_instances[0].public_ip }}
{{ compute5.results[0].tagged_instances[0].public_ip }}
{{ compute6.results[0].tagged_instances[0].public_ip }}
{{ compute7.results[0].tagged_instances[0].public_ip }}
{{ compute8.results[0].tagged_instances[0].public_ip }}
{{ compute9.results[0].tagged_instances[0].public_ip }}
{{ compute10.results[0].tagged_instances[0].public_ip }}

[benchmark]
{{ benchmark.results[0].tagged_instances[0].public_ip }}
