[database]
{{ database.results[0].tagged_instances[0].public_ip }}

[controller]
{{ controller.results[0].tagged_instances[0].public_ip }}

[network]
{{ network.results[0].tagged_instances[0].public_ip }}

[compute]
{{ compute.results[0].tagged_instances[0].public_ip }}

[benchmark]
{{ benchmark.results[0].tagged_instances[0].public_ip }}
